<!DOCTYPE html>
html(lang="en")
    head
      link(href='./img/logo.png', rel='icon')
      title 404 Page
      link(href='./style/bootstrap.min.css', rel='stylesheet')
    body
      .d-flex.justify-content-center.align-items-center#main(style='height:100vh')
        h1.mr-3.pr-3.align-top.border-right.inline-block.align-content-center 404
        .inline-block.align-middle
          h2.font-weight-normal.lead#desc The page you requested was not found.
