<!DOCTYPE html>
html(lang="en")
    head
        link(href='./img/logo.png', rel='icon')
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Register from now
        link(href='./style/bootstrap.min.css', rel='stylesheet')
        link(href='./style/auth.css', rel='stylesheet')
    body
        div.container
          div.row
            div.col-sm-9.col-md-7.col-lg-5.mx-auto
              div.card.card-signin.my-5
                div.card-body
                  h5.card-title.text-center Register
                  form(action="/reg", method="post", autocomplete="off").form-signin
                    div.form-label-group
                      input(type="text", name="name" placeholder="Your name" required autofocus).form-control#inputName
                      label(for="inputName") Name
                    div.form-label-group
                      input(type="email", name="email" placeholder="Email address" required).form-control#inputEmail
                      label(for="inputEmail") Email address
                    div.form-label-group
                      input(type="password", name="password" placeholder="Create password" required).form-control#inputPassword
                      label(for="inputPassword") Create password
                    button(type="submit").btn.btn-lg.btn-dark.btn-block.text-uppercase.cust Register
                    hr.my-4
                    if message.msg_e
                      p.text-danger.text-center #{ message.msg_e }
                    else if message.msg_s
                      p.text-success.text-center #{ message.msg_s }
                    
                    a(href="/login").btn.btn-lg.btn-warning.btn-block.text-uppercase.reg Login
